.MyMenu {
  border-top: 1px solid #0000A0;
  margin: 0 0 0 0;
}

.MyMenuItem {
  display: inline;
  margin-right: 5px;
  padding: 2px 7px 3px 7px;
  background-color: #C0C0C0;
  border: 1px solid #0000A0;
  border-radius: 0px 0px 7px 7px;
  font-weight: bold;
}

.activeMenuItem {
  background-color: #F0F000;
  border: 1px solid red;
  color: red;
}

.NewsTable, .NewsTable tr, .NewsTable td, .NewsTable th {
  border: 1px solid blue;
  background-color: #F8F8F8;
  padding: 2px;
}

.NewsTable th {
  border: 2px solid red;
  background-color: #FFFFF0;
}



@media screen and (min-width: 992px) {
  .MyMenuItem {
    display: block;
    margin-right: 0px;
    margin-bottom: 5px;
    width: 100%;
    border: 1px solid red;
    padding: 2px 6px 1px 6px;
    border-radius: 7px 7px 7px 7px;
  }

}